<mat-tab-group>
  
  <mat-tab label="Add team">

    <mat-card>

      <mat-card-content>

        <form fxLayout="column" [formGroup]="teamForm">

          <mat-form-field>
            <input matInput formControlName="name" type="text" placeholder="Name" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput formControlName="club_state" type="text" placeholder="Club State">
          </mat-form-field>
          <br>
          <div class="avatar-upload">
						<div class="avatar-edit">
							<input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadImage($event)" />
            </div>
            <div class="avatar-preview">
              <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
              </div>
            </div>
          </div>
          <button mat-raised-button color="primary" (click)="fileInput.click()">Upload Image</button>
        </form>

      </mat-card-content>

      <mat-card-actions>

        <button align="center" 
            mat-stroked-button color="primary" (click)="addTeam()">
            Save
        </button>

      </mat-card-actions>

    </mat-card>
    

  </mat-tab>


  <mat-tab label="Add player">

    <mat-card>

      <mat-card-content>

        <form fxLayout="column" [formGroup]="playerForm">

          <mat-form-field>
            <input matInput formControlName="first_name" type="text" placeholder="First Name" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput formControlName="last_name" type="text" placeholder="Last Name">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput formControlName="jersey_number" type="number" placeholder="Jersey Number">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput formControlName="country" type="text" placeholder="Country">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput formControlName="matches" type="number" placeholder="Matches">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput formControlName="runs" type="number" placeholder="Runs">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput formControlName="highest_runs" type="number" placeholder="Highest Runs">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput formControlName="fifties" type="number" placeholder="Fifties">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput formControlName="hundreds" type="number" placeholder="Hundreds">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-select formControlName="team">
              <mat-option *ngFor="let team of teams" [value]="team.pk">
                {{team.fields.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <br>
          <div class="avatar-upload">
              <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #playerFileInput (change)="uploadImage($event, 'player')" />
              </div>
              <div class="avatar-preview">
                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                </div>
              </div>
            </div>
          <button mat-raised-button color="primary" (click)="playerFileInput.click()">Add a photo</button>
          
    
        </form>

      </mat-card-content>

      <mat-card-actions>

        <button align="center" 
            mat-stroked-button color="primary" (click)="addPlayer()">
            Save
        </button>

      </mat-card-actions>

    </mat-card>

  </mat-tab>

</mat-tab-group>