<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


  <nav mat-tab-nav-bar>
    <a mat-tab-link
       routerLink="/teams"
       active="isActive">
       Teams
    </a>

    <a mat-tab-link
       routerLink="/players"
       active="isActive">
       Players
    </a>

    <a mat-tab-link
       routerLink="/matches"
       active="isActive">
       Matches
    </a>

    <a mat-tab-link
       routerLink="/points"
       active="isActive">
       Points
    </a>

    <a mat-tab-link
       routerLink="/add-data"
       active="isActive">
       Add Data
    </a>
  </nav>



</div>

<router-outlet></router-outlet>
